---
layout: default
title: Max Tiu
---

<div class="container home">
  <div class="photo">
    <a href="/">
      <img src="/assets/images/me.jpg" class="img-fluid rounded-circle me-pic" alt="Max Tiu"/>
    </a>
  </div>
  <h1 class="name">Max Tiu</h1>
  {% include social_icons.html %}
  <div class="description">
    <p>
      I'm a full-stack web developer, engineering leader, and educator in Atlanta, GA
      serving as a Director of <a href="http://rubycentral.org">Ruby Central</a>.
    </p>
  </div>
  <div class="links">
    {% include links.html %}
  </div>
</div>
